[pull]
	rebase = true

[user]
	name = sha1n
	email = sha1n@users.noreply.github.com

[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[init]
	defaultBranch = master

[includeIf "gitdir:~/code/w/"]
  path = ~/.gitconfig_w
