
export CODE="$HOME/code"
export NVM_DIR="$HOME/.nvm"
export GO111MODULE=on

# enable ls colors
export CLICOLOR=1
# ls
export LSCOLORS=GxFxCxDxBxegedabagaced
# grep
export GREP_COLOR='1;35;40'


PATH="$PATH:$HOME/.local/bin:$SHA1N_PROFILE_HOME/scripts"