#!/usr/bin/env zsh

SHA1N_PROFILE_HOME="${${(%):-%x}:a:h}"
source "$SHA1N_PROFILE_HOME/lib.zsh"

function clone() {
  local org="sha1n"
  if [[ "$#" == 2 ]]; then
    org="$1"
    local repo="$2"
  elif [[ "$#" == 1 ]]; then
    local repo="$1"
  else
    printf "error: invalid number of arguments: %s
Usage: 

      clone <repo>
      clone <org> <repo>\n\n" "$#"

    return 1
  fi

  echo "$fg[green]git clone git@github.com:$org/$repo.git$reset_color"

  git clone "git@github.com:$org/$repo.git"

  return $?
}

function update_profile() {
  local caller_dir="$PWD"
  cd "$SHA1N_PROFILE_HOME"


  git pull --recurse-submodules origin $(git branch --show-current)
  local rc="$?"
  if [[ "$rc" == "0" ]]; then
    __profile_log_success "update successful!"
  else 
    __profile_log_warn "oh... shit..."
    __profile_log_info "pull yield code $rc"
  fi

  cd "$caller_dir"
}